<!DOCTYPE html>
<html>
    <head>
        <title>Lynxal Stock</title>
        <link rel="stylesheet" href="../static/styles/main.css">
    </head>
    <body>
        <p id="header">
            <a id="headerhref" href="{{url_for('main')}}">Lynxal Stock</a>
        </p>
        <p class="headings" style="font-style: italic; margin-top: -20px;">Component Information</p>
        <div id="selectdiv" style="margin-top: 4%;">
            <form action="add_to_stock" method="POST">
                <p class="infoMethodsP" style="margin-top: 50px;">Type in the Manufacturer Part Number and the Amount to add</p>
                <input type="text" name="mpn" id="mpnInp" style="margin-top: 20px; width: 430px;" placeholder="Manufacturer Part Number" required autofocus>
                <input type="number" name="quantity" id="partQuantityInp" placeholder="Quantity" min="1" required>
                <input type="submit" name="submit" id="submit" style="padding-left: 10px; padding-right: 10px; width: 100px;" value="Add">
                <input type="hidden" name="stock" value="{{request.args.get('stock')}}">
            </form>
        </div>
    </body>
</html>