<!DOCTYPE html>
<html>
    <head>
        <title>Lynxal Stock</title>
        <link rel="stylesheet" href="../static/styles/main.css">
    </head>
    <body>
        <p id="header" style="margin-top: 2%;">
            <a id="headerhref" href="{{url_for('main')}}">Lynxal Stock</a>
        </p>
        <p class="headings" style="font-style: italic; margin-top: -20px;">Component/PCB Information</p>
        <div id="selectdiv" style="margin-top: 2%;">
            <form action="search_by_mpn" method="POST">
                <p class="infoMethodsP">Type in the Manufacturer Part Number</p>
                <input type="text" name="mpn" id="mpnInp" placeholder="Manufacturer Part Number" required>
                <input type="submit" name="mpnSubmit" id="submit" value="Search">
                <input type="hidden" name="stock" value="{{request.args.get('stock')}}">
            </form>
            <p class="infoMethodsP">or choose the type of component to search by values</p>
            <form action="search_by_values" method="POST">
                <select name="componentType" class="select" style="font-size: 22px; height: 42px;" onchange="this.form.submit()">
                    <option class="options" id="componentType" value="selectComponentType" hidden>Select the type of component</option>
                    <option class="options" id="componentType" value="capacitor">Capacitor</option>
                    <option class="options" id="componentType" value="crystal">Crystal</option>
                    <option class="options" id="componentType" value="diodesLeds">Diodes and LEDs</option>
                    <option class="options" id="componentType" value="electrolyticCapacitor">Electrolytic Capacitor</option>
                    <option class="options" id="componentType" value="ferrite">Ferrite</option>
                    <option class="options" id="componentType" value="IC">Integrated Circuit</option>
                    <option class="options" id="componentType" value="inductor">Inductor</option>
                    <option class="options" id="componentType" value="resistor">Resistor</option>
                    <option class="options" id="componentType" value="transistor">Transistor</option>
                    <option class="options" id="componentType" value="zenerDiodes">Zener Diode</option>
                </select>
                <input type="hidden" name="stock" value="{{request.args.get('stock')}}">
            </form>
            <p class="infoMethodsP" style="margin-top: 50px;">or upload an Excel file</p>
            <form action="search_by_file" enctype="multipart/form-data" method="POST">
                <label for="excel" id="excelLabel">Upload the file: </label>
                <input type="file" name="excel" id="excelInp" onchange="this.form.submit()">
                <input type="hidden" name="stock" value="{{request.args.get('stock')}}">
            </form>
        </div>
    </body>
</html>