<!DOCTYPE html>
<html>
    <head>
        <title>Lynxal Stock</title>
        <link rel="stylesheet" href="../static/styles/main.css">
    </head>
    <body>
        <p id="header">
            <a id="headerhref" href="{{url_for('main')}}">Lynxal Stock</a>
        </p>
        <p class="headings" style="font-style: italic; margin-top: -20px;">Component/PCB Information</p>
        <div id="selectdiv" style="margin-top: 4%;">
            <form action="withdraw_from_stock" method="POST">
                <p class="infoMethodsP" style="margin-top: 50px;">Type in the Manufacturer Part Number and the Amount to withdraw</p>
                <input type="text" name="mpn" id="mpnInp" style="margin-top: 20px; width: 430px;" placeholder="Manufacturer Part Number" required autofocus>
                <input type="number" name="quantity" id="partQuantityInp" placeholder="Quantity" min="1" required>
                <input type="submit" name="submit" id="submit" style="padding-left: 10px; padding-right: 10px; width: 100px;" value="Withdraw">
                <input type="hidden" name="stock" value="{{request.args.get('stock')}}">
            </form>
            <p class="infoMethodsP" style="margin-top: 100px; margin-left: -250px;">or upload an Excel file</p>
            <form action="withdraw_by_file" enctype="multipart/form-data" method="POST">
                <label for="excel" style="margin-left: -5px;" id="excelLabel">Upload the file: </label>
                <input type="file" style="width: 280px;" name="excel" id="excelInp">
                <input type="number" name="quantity" style="margin-left: 0px;" id="partQuantityInp" placeholder="Quantity" min="1" required>
                <input type="submit" name="submit" id="submit" style="padding-left: 10px; padding-right: 10px; width: 100px;" value="Withdraw">
                <input type="hidden" name="stock" value="{{request.args.get('stock')}}">
            </form>
        </div>
    </body>
</html>