<!DOCTYPE html>
<html>
    <head>
        <title>Lynxal Stock</title>
        <link rel="stylesheet" href="../static/styles/main.css">
    </head>
    <body> 
        <p id="header">
            <a id="headerhref" style="pointer-events: none;" href="{{url_for('main')}}">Lynxal Stock</a>
        </p>
        <div id="selectdiv">
            <form action="choose_action" method="POST">
                <input type="text" name="username" id="">
                <input type="password" name="password" id="">
                <input type="submit" name="" id="">
            </form>
        </div>
    </body>
</html>